/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.label {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000;
    -fx-opacity: 5;
    
}

.tab-pane .tab{
	-fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.imageView{
	-fx-background-color: transparent;
}
.tab-pane .colum-header{
	-fx-base: transparent;
}
.pagination{
	-fx-base: #99CCAA;
}
.label-bright {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000;
    -fx-opacity: 5;
}

.label-header {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 0;
}

.table-view {
    -fx-base: #000;
    -fx-control-inner-background: #99CC99;
    -fx-background-color: #000;
    -fx-table-cell-border-color: #000;
    -fx-table-header-border-color: #1d1d1d;
    -fx-padding: 2;
    -fx-border-color: black, black;
}

.table-view .column-header-background {
    -fx-background-color: #000;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 14;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 1;
}

.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family: "arial";
    -fx-text-fill: #fff;
    -fx-alignment: center-left;
    -fx-opacity: 5;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #000;
    -fx-text-fill: #000;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: #000;
}

.split-pane {
    -fx-padding: 1 0 0 0;
    -fx-background-color:transparent;
    -fx-border-color: #000; 
}
.accordion{
    -fx-background-color: #ccc;
}
.pane{
	-fx-background-color: #000;
}

.menu-bar {
    -fx-background-color: #fff;
}
.menu-bar .Menu {
    -fx-background-color: white;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000;
    -fx-opacity: 0.2;
}

.menu .left-container {
	-fx-background-color: black;
}
.border-pane{
	-fx-background-color: #006633;
}
.text-field {
    -fx-font-size: 9pt;
    -fx-font-family: "Arial";
    
    -fx-border-radius:10.0px 
}
.text-area{
	-fx-font-size: 9pt;
    -fx-font-family: "Arial";
    -fx-border-radius:10.0px
}
.toggle-button{
	-fx-font-size: 9pt;
	-fx-border-radius:10.0px;
}
.anchor-pane{
	-fx-background-color: #006633;
} 

